/*-----------------------------------------------------------------------------------------------------
-------------------------------------------[UNIVERSAL]-------------------------------------------------
-----------------------------------------------------------------------------------------------------*/




/*-----------------------------------------------------------------------------------------------------
----------------------------------------------[HEADER]-------------------------------------------------
-----------------------------------------------------------------------------------------------------*/

/*
@media only screen and ()
*/

/*Font CSS:	Rajdhani, Quicksand, Marvel, Voltaire, Carrois Gothic SC, Raleway Dots
font-family: '[fontName]', sans-serif;

Instructions: Add the font name to your CSS styles just as you'd do normally with any other font.
Example: h1 { font-family: ‘Metrophobic’, Arial, serif; font-weight: 400; }*/

.site-nav{
	font-family: 'Voltaire', sans-serif;
	font-size: 2em;
	color: white;
}

a.site-title{
	font-family: 'Quicksand', sans-serif;
	/*font-weight: bold;*/
	font-size: 4.5em;
	/*border: white 2px solid;*/
	/*background-color: white;*/
	/*border-radius: 10px;*/
	/*color: #3A5162;*/
	color: white;
}

header .wrapper{
	text-align: center;
	/*border-radius: 10px;*/
	background-color: #3A5162;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	/*margin-bottom: 5px;*/
}

header .page-link{
	color: white;
}

.jGrav{
	color: white;
	border: white 2px dash;
}

/*-----------------------------------------------------------------------------------------------------
-----------------------------------------------[BODY]---------------------------------------------------
-----------------------------------------------------------------------------------------------------*/
.wrapper-body{
	max-width: 80%;
	margin: 0 auto;
	/*border: #3A5162 2px solid;*/
	border-radius: 10px;
	/*background-image: url('../images/backgroundTest.jpg'); Adds background just to the div */
	text-align: center;
}

.comic-Template{
	width: 900px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	border: black 2px solid;
	margin-top: 20px;
}

#slides{
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	/*border: red 2px solid;*/
}

/*.slick-track{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 30%;
	margin: 0 auto;
	display: block;
}*/

.slick-initialized.slick-slider{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 30%;
	margin: 0 auto;
	display: block;

}



/*body{
	background-image: url('../images/backgroundTest.jpg'); Adds background to the entire page, looks hilarious
}*/



/*-----------------------------------------------------------------------------------------------------
----------------------------------------------[FOOTER]-------------------------------------------------
-----------------------------------------------------------------------------------------------------*/
/*footer .site-footer{
	margin: 0 auto;
	width: 50%;
}*/

.wrapper-footer{
	margin-left: auto;
	margin-right: auto;
	border-top: #3A5162 2px solid;
	/*border-radius: 10px;*/
	text-align: center;
	width: 100%;
	background-color: #3A5162;
	height: 50%;
}

div.social-Links{
	
}

.page-link{
	color: White;
	font-family: 'Quicksand', sans-serif;
	font-size: 0.5em;
	/*margin-left: 150px;*/
}

.gitHubLink{
	color: White;
	font-family: 'Quicksand', sans-serif;
	font-size: 0.9em;
}
