/*-----------------------------------------------------------------------------------------------------
-------------------------------------------[UNIVERSAL]-------------------------------------------------
-----------------------------------------------------------------------------------------------------*/
img { max-width: 100%;}



/*-----------------------------------------------------------------------------------------------------
----------------------------------------------[HEADER]-------------------------------------------------
-----------------------------------------------------------------------------------------------------*/

/*
@media only screen and ()
*/

/*Font CSS:	Rajdhani, Quicksand, Marvel, Voltaire, Carrois Gothic SC, Raleway Dots
font-family: '[fontName]', sans-serif;

Instructions: Add the font name to your CSS styles just as you'd do normally with any other font.
Example: h1 { font-family: ‘Metrophobic’, Arial, serif; font-weight: 400; }*/

.site-nav{
	font-family: 'Voltaire', sans-serif;
	font-size: 2em;
	color: white;
}

a.site-title{
	font-family: 'Quicksand', sans-serif;
	/*font-weight: bold;*/
	font-size: 4.5em;
	/*border: white 2px solid;*/
	/*background-color: white;*/
	/*border-radius: 10px;*/
	/*color: #3A5162;*/
	color: white;
}

header .wrapper{
	text-align: center;
	/*border-radius: 10px;*/
	background-color: #3A5162;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	/*margin-bottom: 5px;*/
}

header .page-link{
	color: white;
	margin: 0 auto;
	text-align: center;
}

#george{
	height: 100px;
}

.jGrav{
	color: white;
	border: white 2px dash;
}

/*-----------------------------------------------------------------------------------------------------
-----------------------------------------------[BODY]---------------------------------------------------
-----------------------------------------------------------------------------------------------------*/
.wrapper-body{
	max-width: 80%;
	margin: 0 auto;
	/*border: #3A5162 2px solid;*/
	border-radius: 10px;
	/*background-image: url('../images/backgroundTest.jpg'); Adds background just to the div */
	text-align: center;
}

.comic-Template{
	width: 900px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	border: black 2px solid;
	margin-top: 20px;
}

#slides{
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	/*border: red 2px solid;*/
}

/*.slick-track{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 30%;
	margin: 0 auto;
	display: block;
}*/

.slick-initialized.slick-slider{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin: 0 auto;
	display: block;
	width: 304px;
}

.slick-prev:before{
	color: black;
}

.slick-next:before{
	color: black;
}

.slick-prev:hover{
	background-color: #8EABC0;
	color: yellow;
}

.slick-next:hover{
	background-color: #8EABC0;
	color: yellow;
}

.slick-slide{
	width: 304px;
}

#spacer{
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
	height: 20px;
}

/*body{
	background-image: url('../images/backgroundTest.jpg'); Adds background to the entire page, looks hilarious
}*/

/*Media Query Examples*/
/*@media (min-width: 300px) {
    body {margin: 4% 8%;}
}

@media (min-width: 700px) {
    .header h1 {float: left; font-size: 140%;}
    .nav {float: right; width: 50%;}
    .home {clear: both;}
}

@media (min-width: 1100px) {
    body {background: green;}
    .header h1 {font-size: 250%;}
    .posts li {width: 25%; margin-right: 2%; float: left;}
    .footer {clear: both;}
}*/

/*@media (max-width: 600px) {
	.site-nav {font-size: 80%;}
}
}*/

/*@media (max-width: 500px) {
	header .wrapper {font-size: 60%;}
}
}

@media (max-width: 400px) {
	header .wrapper {font-size: 40%;}
	.slick-initialized.slick-slider{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin: 0 auto;
	display: inline-block;
}
*/
/*-----------------------------------------------------------------------------------------------------
----------------------------------------------[FOOTER]-------------------------------------------------
-----------------------------------------------------------------------------------------------------*/
/*footer .site-footer{
	margin: 0 auto;
	width: 50%;
}*/

.wrapper-footer{
	margin-left: auto;
	margin-right: auto;
	border-top: #3A5162 2px solid;
	/*border-radius: 10px;*/
	text-align: center;
	width: 100%;
	background-color: #3A5162;
	height: 20%;
}

div.social-Links{
	
}

.page-link{
	color: White;
	font-family: 'Quicksand', sans-serif;
	font-size: 0.5em;
	/*margin-left: 150px;*/
}

.gitHubLink{
	color: White;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.3em;
}
