
<div class="wrapper-footer">
  <!-- <footer class="site-footer"> -->

    <!--<div class="row">-->
    

    <div class="row">

      <div class="footerCol">

<!--         <div class="footer-col  footer-col-1">
          <ul class="contact-list">
            <li>{{ site.title }}</li>
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          </ul> -->

        <div class="social-Links">
          <a href="http://facebook.com/RobertSnodgrass"><img src="images/facebook-long.png"></a>
          <a href="http://www.linkedin.com/pub/robert-snodgrass/8/a99/ab9/"><img src="images/linkedin-long.png"></a>
          <a href="https://twitter.com/Zeiganstrell"><img src="images/twitter-long.png"></a>
          <a class="gitHubLink" href="https://github.com/RobertSnodgrass">[GitHub]</a>

        </div>

       <!--  <button class="jGrav">Do not press this button.</button> -->

        <!-- a class="page-link" href="/Last/">Last</a>
        <a class="page-link" href="/Random/">Random</a> -->
      </div>  
    </div>

        <div class="footer-col  footer-col-2"></div>
       
  <!-- </footer> -->
</div>