
<div class="wrapper-footer">
  <!-- <footer class="site-footer"> -->

    <!--<div class="row">-->
    

      <!-- h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="row">

      <div class="footerCol">

  <!--       <div class="footer-col  footer-col-1">
          <ul class="contact-list">
            <li>{{ site.title }}</li>
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          </ul> -->
  <!--       <div class="facebookImg"><a href="www.facebook.com"><img src="../images/facebook-long.png"></div>
        <div class="linkedInImg"><a href="www.linkedin.com"><img src="../images/linkedin-long.png"></div>
        <div class="twitterImg"><a href="www.twitter.com"><img src="../images/twitter-long.png"></div> -->
        <div class="social-Links">
          <a href="http://facebook.com/RobertSnodgrass"><img src="../images/facebook-long.png"></a>
          <a href="http://linkedin.com/RobertSnodgrass"><img src="../images/linkedin-long.png"></a>
          <a href="http://twitter.com/RobertSnodgrass"><img src="../images/twitter-long.png"></a>
        </div>


      </div>


        </div>

        <div class="footer-col  footer-col-2"></div>
       
  <!-- </footer> -->
</div>