<header class="site-header">

  <div class="wrapper">

  <div id="george" class="row">
    <a class="site-title" href="">{{ site.title }}</a>
    <!-- <a class="page-link" href="/About/">About</a> -->
  </div>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <a class="page-link" href="{{ "/About/" | prepend: site.url }}">[about the author of this prototype]</a>
        <!--THIS FIXES THE LINKING ONCE THE SITE IS DEPLOYED-->
        <!-- <a class="post-link" href="/post/2014/10/07/Just-For-Fun.html">Just For Fun</a> -->

        
      </a>



      <div class = "row">
        <div class="trigger">
          {% for page in site.pages %}
            {% if page.title %}
            <a class="page-link" href="{{ page.url | prepend: site.url }}">{{ page.title }}</a>
            {% endif %}
          {% endfor %}
       </div>
      <!--DO NOT ADD ANY MORE OF THESE, THEY BREAK THE NAV BAR <div class="trigger">-->
    </nav>
  </div>

</header>
