<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--Link to Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Rajdhani:300,400,700|Quicksand:300,400|Marvel|Voltaire|Carrois+Gothic+SC|Raleway+Dots' rel='stylesheet' type='text/css'> 

	<!--Links to Foundation files-->
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/normalize.css">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

	<!--Removed default main.css file, linked instead to my own style.css-->
    <!--<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">-->
    <link rel="stylesheet" href="{{ "css/style.css"}}">

    <!--The | prepend: site.baseurl ADDS everything from _config.yml's baseurl BEFORE the actual link-->
    <!--This is extremely useful because now you don't have to actually change the link paths!-->

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
