<header class="site-header">

  <div class = "row">
  <div class="wrapper">

  <div id="george" class="row">
    <a class="site-title column large-12 small-12" href="{{ prepend: site.baseurl }}/">{{ site.title }}</a>
    <!-- <a class="page-link" href="/About/">About</a> -->
  </div>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <a class="page-link column large-12 small-12" href="/About/ | prepend: site.baseurl }}">[about the author of this prototype]</a>
        <!-- <a class="post-link" href="/post/2014/10/07/Just-For-Fun.html">Just For Fun</a> -->

        
      </a>



      <div class = "row">
   <!--      <div class="trigger">
          {% for page in site.pages %}
            {% if page.title %}
            <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            {% endif %}
          {% endfor %}
       </div> -->
      <!--DO NOT ADD ANY MORE OF THESE, THEY BREAK THE NAV BAR <div class="trigger">-->
    </nav>
  </div>
</div>
</header>
