<!DOCTYPE html>
<html>

  {% include head.html %}

  <button class='jGrav'>Don't press me!</button>

  <body>

    {% include header.html %}

    <div class="page-content">

      <div class="tagline">
      </div>

      <div class="wrapper-body">
        
        <div class="comic-Template"></div>
        {{ content }}

        
      </div>
    </div>

    {% include footer.html %}

  <!--javascript plug ins will be linked in here just before end of body-->

  <!--Link to include JQuery-->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

  <!--Link to include my own javascript file-->
  <script type="text/javascript" src="../js/script.js"></script>

  <!--Link to include JGravity Plugin-->
  <script src="../js/jGravity.js"></script>

  </body>

</html>


