<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">

      <div class="tagline">
      </div>

      <div class="wrapper-body">
        
        <!-- <div class="comic-Template"></div> -->

      

         <div id="slides">
                <div><img src="images/CheerUp1.png" alt=""></div>
                <div><img src="images/CheerUp2.png" alt=""></div>
                <div><img src="images/CheerUp3.png" alt=""></div>
                <div><img src="images/CheerUp4.png" alt=""></div>
                <div><img src="images/CheerUp5.png" alt=""></div>
                <div><img src="images/CheerUp6.png" alt=""></div>
                <div><img src="images/CheerUp7.png" alt=""></div>
                <div><img src="images/CheerUp8.png" alt=""></div>
                <div><img src="images/CheerUp9.png" alt=""></div>
                <div><img src="images/CheerUp99.png" alt=""></div>
            </div>

        {{ content }}

        
          
          <div class="row">
   
            <button class="jGrav">Do not press this button.</button>
            <button type="button" class="slick-prev">Previous</button>
            <button type="button" class="slick-next">Next</button>
          </div>
          <span id="spacer"></span>
      </div>
    </div>

    {% include footer.html %}

  <!--Link to include JQuery-->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

  <!--Link to include my own javascript file-->
  <script type="text/javascript" src="js/script.js"></script>

  <!--Link to include JGravity Plugin-->
  <script src="js/jGravity.js"></script>

  <!--Link to slide Plugin-->
  <script type="text/javascript" src="js/slick.min.js"></script>

  <script>$('#slides').slick({
            autoplay: true,
            autoplaySpeed: 6000,
            fade: true,
            cssEase: 'linear',
            pauseOnHover: true,

        })</script>

  </body>

</html>


